/* Navbar Styles */
.navbar {
  border-radius: 0 0 100px 100px;
  background-color: #CAC7C7;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 101;
}

/* Container Styles */
.navbar .container-fluid {
  position: relative;
  left: 50px;
  width: calc(100vw - 100px);
  margin: 0;
}

/* Account Controller Styles */
.navbar .container-fluid .account-controller {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  height: 30px;
}

/* Sign-in Container Styles */
.navbar .container-fluid .account-controller .account-controller-signin-container {
  padding: 5px;
  border-radius: 20%;
}

.navbar .container-fluid .account-controller .account-controller-signin-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Sign-up Container Styles */
.navbar .container-fluid .account-controller .account-controller-signup-container {
  padding: 5px;
  border-radius: 20%;
}

.navbar .container-fluid .account-controller .account-controller-signup-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Navbar Links Styles */
.navbar a {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* Navbar Brand Styles */
.navbar-brand {
  font-size: 2.7rem !important;
}

/* Middle Navbar Styles */
.navbar-middle {
  position: relative;
  top: 0.5rem;
}

/* Middle Navbar Link Styles */
.navbar-middle a {
  font-size: 16px;
  text-align: center;
}

/* Middle Navbar Link Hover Styles */
.navbar-middle a:hover {
  text-decoration: underline;
}
