#ingredientsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

#ingredientsContainer .ingredient-row {
  display: flex;
  width: 8rem;
}

#ingredientsContainer .ingredient-row .ingredient-input {
  width: 8rem;
}

#addIngredient {
  margin-top: 1rem;
}